* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kumbh Sans", sans-serif;
}

button {
  cursor: pointer;
}

body {
  background-color: #eff5fc;
}

:root {
  /* FONT STYLES */
  --black-color: #080808;
  --book-title-color: #21355a;

  --white-color: #fff;
  --header-font-style: "Courgette", sans-serif;
  --prompt-box-font-style: "Poppins", sans-serif;

  /* BUTTON COLORS */
  --read-button-color: #26a7e3;
  --unread-button-color: #e2374b;

  /* SHADOWS STYLES */
  --bottom-shadow: 2px 2px 3px rgba(155, 165, 215, 0.8);

  /* BORDER STYLES */
  --book-border-color: #206dac;

  /* BACKGROUND COLORS */
  --navbar-bg-color: #26a7e3;
  --white-bg-color: #f9f9f9;
  --prompt-box-bg-color: #f2f2f2;
}

/* Start of Header */
.header {
  background-color: var(--navbar-bg-color);
  box-shadow: var(--bottom-shadow);
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 11px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: var(--white-color);
  font-family: var(--header-font-style);
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.header__new-book,
.prompt-box__add-book {
  appearance: none;
  background-color: var(--white-bg-color);
  border: none;
  border-radius: 4px;
  box-shadow: var(--bottom-shadow);
  color: var(--book-title-color);
  font-family: var(--prompt-box-font-style);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
}
/* End of Header */

/* Start of Main */
.main {
  margin: 80px auto;
  max-width: 1100px;
  padding: 15px;
}

.main__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.main__book-card {
  background-color: var(--white-bg-color);
  color: var(--black-color);
  border-left: 10px solid var(--book-border-color);
  border-bottom: 6px solid var(--book-border-color);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: var(--bottom-shadow);
  padding: 32px;
  position: relative;
  text-align: center;
  word-break: break-word;

  display: grid;
  grid-template-rows: 1fr repeat(3, auto);
  gap: 30px;
}

.main__book-card h3 {
  align-self: center;
  border-bottom: 1px solid var(--book-title-color);
  color: var(--book-title-color);
  font-size: 1.15rem;
}

.main__book-card p:first-child {
  font-weight: bold;
  font-size: 1.05rem;
}

.main__book-card p {
  font-size: 1rem;
  color: rgb(75, 75, 75);
}

.remove-button {
  padding: 2px;
  position: absolute;
  right: 0;

  display: flex;
  gap: 5px;
}

.remove-button > span {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.has-read-button {
  appearance: none;
  background-color: var(--unread-button-color);
  border-radius: 6px;
  border: none;
  color: var(--white-color);
  font-size: 1rem;
  padding: 12px 18px;
}
.read {
  background-color: var(--read-button-color);
}
/* End of Main */

/* Start of Prompt Box */
/* THE PROMPT STYLES ARE NOT FINISHED */
/* I WANT TO ADD AN ANIMATION WHEN COMING BACK TO IT */
/* AND ALSO IMPROVE THE COLOR SCHEME */
.prompt-bg {
  background-color: rgba(0, 0, 0, 0.45);

  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 2;

  display: none;
}

.prompt-box {
  background: var(--prompt-box-bg-color);
  border-radius: 12px;
  border: 2px solid lightslategray;
  padding: 24px 0;

  left: 0;
  right: 0;
  top: 0;
  margin: 120px auto;
  max-width: 280px;
  position: fixed;
  z-index: 3;

  display: none;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.prompt-box h3 {
  text-align: center;
}

.prompt-box label {
  font-size: clamp(1rem, 0.85vw, 1.5rem);
}

.prompt-box label,
.prompt-box input[type="checkbox"] {
  cursor: pointer;
}

.prompt-box input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

.checkbox-container {
  display: flex;
  gap: 8px;
}

.prompt-box input[type="text"],
.prompt-box input[type="number"] {
  appearance: none;
  border: none;
  border-radius: 6px;
  display: block;
  height: 30px;
  padding: 6px;
}

.prompt-box input[type="text"]:focus,
.prompt-box input[type="number"]:focus {
  outline-color: #929ac2;
}

.prompt-box input[type="text"],
.prompt-box input[type="number"],
.prompt-box button {
  border: 1px solid #d0d2d8;
}

.prompt-box button {
  height: 50px;
  margin-top: 15px;
  padding: 8px 16px;
}

.book-exists-warning {
  display: none;
  margin-top: 5px;
  color: var(--unread-button-color);
}

.visible {
  display: flex;
}
/*End of Prompt Box*/

/* Start of Media Queries */
@media screen and (max-width: 505px) {
  .header__container {
    flex-direction: column;
  }
  .header__new-book {
    margin-top: 8px;
  }
  .main {
    margin-top: 140px;
  }
  .prompt-box {
    margin: 160px auto;
  }
}
/* End of Media Queries */
